$theme-colors: (
  "primary": #ef233c,
  "secondary": #4ba3c3,
);
$enable-responsive-font-sizes: true;

@import "../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {
      border-top: $border-width solid $border-color !important;
    }
    .border#{$infix}-right {
      border-right: $border-width solid $border-color !important;
    }
    .border#{$infix}-bottom {
      border-bottom: $border-width solid $border-color !important;
    }
    .border#{$infix}-left {
      border-left: $border-width solid $border-color !important;
    }

    .border#{$infix}-top-0 {
      border-top: 0 !important;
    }
    .border#{$infix}-right-0 {
      border-right: 0 !important;
    }
    .border#{$infix}-bottom-0 {
      border-bottom: 0 !important;
    }
    .border#{$infix}-left-0 {
      border-left: 0 !important;
    }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #e9ecef;
}

// url("https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")

.hero-bg {
  background: linear-gradient(
      to top right,
      rgba($color: #000000, $alpha: 0.2),
      rgba($color: #000000, $alpha: 0.4)
    ),
    url("https://images.unsplash.com/photo-1434719079929-f61498a4828e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80")
      no-repeat center center/cover;
}

.hero-bg-mob {
  background: linear-gradient(
      to top right,
      rgba($color: #000000, $alpha: 0.2),
      rgba($color: #000000, $alpha: 0.4)
    ),
    url("https://images.unsplash.com/photo-1550345332-09e3ac987658?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
      no-repeat center center/cover;
}

h1 {
  font-family: "Bebas Neue", cursive;
}

.lg-text {
  font-size: 1.5rem;
}

#homeNav {
  transition: all 0.4s ease-in-out;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

i {
  font-size: 3rem;
  padding: 1rem 0;
  .socials {
    font-size: 2rem;
  }
}

.my-arrow {
  font-size: 2rem;
  color: #4ba3c3;
  &:hover {
    cursor: pointer;
    animation: none;
  }
}

.shadow-pulse {
  text-shadow: 0px 0px 10px #4ba3c3;
  -moz-animation: pulse 2s infinite linear;
  -o-animation: pulse 2s infinite linear;
  -webkit-animation: pulse 2s infinite linear;
  animation: pulse 2s infinite linear;
}

#pricing {
  .card {
    min-width: 18rem;
    min-height: 25rem;
    &:nth-of-type(2) {
      min-width: 18rem;
      min-height: 30rem;
    }
    .card-header {
      font-size: 2rem;
    }
    .price {
      font-size: 2.5rem;
    }
  }
}

footer a {
  color: $light;
  &:hover {
    color: #ef233c;
  }
}

@-webkit-keyframes pulse {
  0% {
    text-shadow: 0px 0px 10px #4ba3c3;
  }
  50% {
    text-shadow: 0px 0px 10px rgba($color: #4ba3c3, $alpha: 0);
  }
  100% {
    text-shadow: 0px 0px 10px #4ba3c3;
  }
}
@-moz-keyframes pulse {
  0% {
    text-shadow: 0px 0px 10px #4ba3c3;
  }
  50% {
    text-shadow: 0px 0px 10px rgba($color: #4ba3c3, $alpha: 0);
  }
  100% {
    text-shadow: 0px 0px 10px #4ba3c3;
  }
}
@-o-keyframes pulse {
  0% {
    text-shadow: 0px 0px 10px #4ba3c3;
  }
  50% {
    text-shadow: 0px 0px 10px rgba($color: #4ba3c3, $alpha: 0);
  }
  100% {
    text-shadow: 0px 0px 10px #4ba3c3;
  }
}
@-ms-keyframes pulse {
  0% {
    text-shadow: 0px 0px 10px #4ba3c3;
  }
  50% {
    text-shadow: 0px 0px 10px rgba($color: #4ba3c3, $alpha: 0);
  }
  100% {
    text-shadow: 0px 0px 10px #4ba3c3;
  }
}
@keyframes pulse {
  0% {
    text-shadow: 0px 0px 10px #4ba3c3;
  }
  50% {
    text-shadow: 0px 0px 10px rgba($color: #4ba3c3, $alpha: 0);
  }
  100% {
    text-shadow: 0px 0px 10px #4ba3c3;
  }
}

@media only screen and (max-width: 992px) {
  #pricing {
    .card {
      min-width: auto;
      min-height: auto;
      &:nth-of-type(2) {
        min-width: auto;
        min-height: auto;
      }
    }
  }
}
